
.chart{
    width: 80%;
    background-color: white;
    margin-left: 10%;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid rgb(159, 224, 227);
}
.headerBar{
    text-align: center;
    margin-top: 20px;
}
.rightBar{
    background-color:rgb(201, 222, 240);
    height: 100vh;
    margin-top: 10px;
}
.botBar{
    margin-top: 50px;
    margin-left: 9%;
    margin-bottom: 70px;
}
.cardHeader{
    font-size: 20px;
    font-weight: 650;
    background-color: rgb(236, 211, 103);
}
.cardList{
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}
.spanList{
    font-weight: 900;
    font-size: 28px;
    margin-left: 40px;
}
.adminHead {
    font-size: 38px;
    font-weight: 700;
    text-decoration: underline;
    color: rgb(22, 35, 46);
    text-shadow: 5px 5px 4px  rgb(22, 186, 197);
}
.cardAd{
    margin-top: 50px;
    margin-left: 90px;
  
}