.reportForm {
    width: 75%;
    border: none;
    background-color: rgb(218, 240, 247);
    height: auto;
    margin-top: 0;
    border: 2px solid rgb(30, 28, 64);
    box-shadow: 2px 14px 80px rgba(49, 54, 153, 0.2);
    margin-left: 15%;
}
.reportTitle {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 40px;
    text-shadow: 3px 3px 4px rgb(124, 189, 211);
}

.reportP {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}
.reportForm h6 {
    font-size: 18px;
    font-weight: 700;
}

p {
    color: rgb(238, 58, 58);
}