.missingAll {
    width: 100%;
    height:fit-content;
    background-color: rgb(225, 225, 225);
}

.cardHolder {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
    margin-bottom: 40px;
}
.MissingHeader h1{
    text-align: left;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 34px;
    font-weight: 700;
    text-shadow: 2px 2px rgb(120, 168, 223);
}