.missingAll {
    /* background-image: url('https://cdn.pixabay.com/photo/2021/01/14/19/30/water-5917708__340.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:fit-content;
    background-color: rgb(211, 211, 211);
}

.cardHolder {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
    margin-bottom: 40px;
}
.MissingHeader h1{
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
}