.Solo {
    padding-top: 4%;
    overflow: hidden;
}

.bigRow {
    width: 90%;
    margin-left: 5%;
}
.colBig {
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    background-color: white;
    padding: 20px 10px;
}
.headers {
    font-size: 20px;
    font-weight: 600;
    color:rgb(14, 40, 59);
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
    margin-left: 15px;
}
.icons {
    margin-right: 10px;
}
.colSm {
    font-size: 18px;
    font-weight: 450;
    margin-bottom: 8px;
    margin-left: 15px;
}
.space {
    margin-left: 30px;
    font-weight: 400;
}
.reporter {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
    color: rgb(255, 94, 1);
    margin-left: 15px;
    
}
.colRight {
    background-color: #BAA782;
    padding-top: 70px;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
}
.backTo {
    text-decoration: none;
    font-size: 20px;
    color: black;
    border-radius: 5px;
    margin-top: -60px;
    margin-left: 330px;
}
.divider{
    border-bottom: 2px dashed black;
}
.name{
    margin-top: 40px;
    font-weight: 700;
    background-color: rgb(32, 31, 31);
    color: aliceblue;
    align-content: center;
}
.buttonsss{
    margin-left: 25px;
}