.Solo {
    background-image: url('https://media.istockphoto.com/id/700824756/photo/moody-landscape-with-a-foggy-road.jpg?s=612x612&w=0&k=20&c=aItag2lok5vqYMq8P9e6m_aBVUForUWJ-OybjPPba7Q=');
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7%;
}

.soloReport {
    width: 75%;
    margin-left: 15%;
}

.bigRow {
    border-top-left-radius: 15px;
}
.colBig {
    border-top-left-radius: 15px;
    background-color: aliceblue;
    padding: 20px 10px;
}
.headers {
    font-size: 18px;
    font-weight: 500;
    color:rgba(254, 169, 35);
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
}
.icons {
    margin-right: 10px;
}
.colSm {
    font-size: 16px;
    font-weight: 450;
    margin-bottom: 5px;
}
.space {
    margin-left: 10px;
    font-weight: 400;
}
.reporter {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 450;
    color: rgb(203, 141, 26);
}
.colRight {
    background-color: rgba(234, 162, 33);
    padding-top: 70px;
    border-bottom-right-radius: 15px;
}