.sidebar{
    background: rgb(14, 40, 59);
    color: #030303;
    min-height: 150vh;
    max-height: 200vh;
    width: 250px;
    transition: all 0.5s;
}
/* .container{
    width: 50%;
    margin-left: -100%;
    display: flex;
} */
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
    color: #bddaf2;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #a4c0e6;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:rgb(0, 0, 0);
    color: #ffffff;
    transition: all 0.5s;
}
.active{
    background: rgb(0, 0, 0);
    color: #fffefe;
}
.icon, .link_text{
    font-size: 20px;
}
.signOut{
    margin-top: 150px;
    color: #a4c0e6;
    padding: 10px 15px;
    transition: all 0.5s;
    font-size: 20px;
}
.signOut:hover{
    background:rgb(0, 0, 0);
    color: #ffffff;
    transition: all 0.5s;
}
.iconOut{
    margin-right: 15px;
}