
.Table {
    margin-left: -5%;
    margin-top: 20px;
    height: fit-content;
    border: 2px solid rgb(0, 70, 111);
    background-color: rgb(201, 222, 240);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 25px;

}
.table {
   
   padding: 3px 3px;
   background-color: aliceblue;
   padding: 5px 40px;
   
}
.theHead {
    background-color: rgb(107, 165, 216);
    font-size: 18px;
}
.upheader{
    margin-top: 10px;
    color: rgb(0, 1, 1);
}


