* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
.navbarWel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 10vh;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;
    background-color: rgba(191, 212, 219);
  
    /*box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
  }

  .logo {
    padding-top: 0;
    width: 250px;
    height:9vh;
    margin-top: -5px;
    margin-left: 0px;
  }